services:
  agent:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - ".env"
    depends_on:
      - db
    volumes:
      - ./data/vectorstore:/app/data/vectorstore

  # --- BASE DE DATOS POSTGRES ---
  db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - ".env"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: